.order-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    width: 100%;
  }
  .order-container .order-main-container {
    width: 60%;
  }
  
  .order-container .order-main-container .title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 2% 0 4% 0;
  }
  
  .order-container .order-main-container .first-last-name {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .order-container .order-main-container .first-last-name .name-input {
    width: 45%;
  }
  
  .order-container .order-main-container input[type="email"],
  .order-container .order-main-container input[type="text"],
  .order-container .order-main-container input[type="password"],
  .order-container .order-main-container input[type="number"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none !important;
    color: #6f6f6f;
    font-size: 15px;
  }
  
  .order-container .order-main-container label,
  .country-name {
    color: #6f6f6f;
  }
  
  .order-container .order-main-container ::placeholder {
    color: #6f6f6f;
    font-size: 15px;
  }
  
  .order-container .order-main-container .company-name {
    padding: 1% 0;
  }
  
  .order-container .order-main-container .country-region {
    font-weight: 700;
  }
  
  .order-container .order-main-container #district-name {
    color: #6f6f6f;
    border: 1px solid #d3d0d0;
    font-size: 15px;
    background-color: #fff;
  }
  
  .order-container .order-main-container #district-name option {
    font-size: 15px;
  }
  
  .order-container .order-main-container .place-order-button {
    display: flex;
    justify-content: center;
  }
  .order-container .order-main-container .place-button {
    background-color: #7180df;
    border: none;
    color: white;
    padding: 10px 80px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  
  @media only screen and (max-width: 767px) {
    .order-container .order-main-container .first-last-name {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .order-container .order-main-container .first-last-name .name-input {
      width: 100%;
    }
  
    .order-container .order-main-container {
      width: 80%;
    }
   
    .order-container .order-main-container .place-order-button {
      margin-bottom: 10px;
    }
    .order-container .order-main-container .place-button {
      padding: 10px 50px;
      font-size: 14px;
      font-weight: 500;
      margin-top: 10px;
    }
  }
  