.container-bg {
  background-image: url("./../../../images/2.jpg");
  background-size: cover;
  background-position: center;
}

.CartBanner {
  color: white;
  font-size: 56px;
  text-align: center;
  margin-bottom: 0px;
  padding: 200px 0px;
}
