* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;

  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a,
a:hover {
  text-decoration: none !important;
  color: #383a4e;
}

/* Dashboard Style  */
nav.dashboard-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.dashboard-menu ul li a {
  color: #fff;
  display: block;
  padding: 10px 10px;
}
nav.dashboard-menu ul li a:hover {
  background: #0a3d62;
  opacity: 0.9;
}

.dashboard-sidebar {
  padding: 0 !important;
  height: 100vh;
}
nav.dashboard-menu ul li a span {
  margin-left: 10px;
}

/* Add product style  */
.add-product,
.add-review {
  width: 60%;
  margin: 80px auto;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
select,
textarea {
  position: relative;
  height: 47px;
  line-height: 47px;
  border: 2px solid #0a3d62;
  border-radius: 3px;
  font-weight: 600;
  background-color: transparent;
  width: 100%;
  padding: 0 16px;
  color: #0a3d62;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* review style  */

.testimonial .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
